<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200">
    <tr>
      <th scope="col">First Name </th>
      <th scope="col">Last Name  </th>
      <th scope="col">Place</th>
      <th scope="col">Post</th>
      <th scope="col">Pin</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
    </tr>
    {% for i in val %}
    <tr>
      <td>{{i[2]}}</td>
      <td>{{i[3]}}</td>
      <td>{{i[4]}}</td>
      <td>{{i[5]}}</td>
      <td>&nbsp;{{i[6]}}</td>
      <td>&nbsp;{{i[7]}}</td>
      <td>&nbsp;{{i[8]}}</td>
    </tr>
    {%endfor%}
  </table>
</form>
</body>
</html>
